<p>valid-form works!</p>
<form #contactForm="ngForm" (ngSubmit)="log(contactForm)" >

    <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text"   name="firstname" ngModel
        #firstname="ngModel" required minlength="5"><!-- Add htnl5 new attribute for validation-->
    </div>
    <div style="color:red"
    *ngIf="!firstname?.valid && (firstname?.dirty ||firstname?.touched)"
    class="alert alert-danger">
        <div [hidden]="!firstname.errors.required">
            First Name is required
        </div>
        <div [hidden]="!firstname.errors.minlength">
            First Name Minimum Length is    {{firstname.errors.minlength?.requiredLength}}
        </div>
    </div>
    <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text"   name="lastname"
        ngModel #lastname="ngModel"  required>
    </div>
    <div style="color:red"
    *ngIf="!lastname?.valid && (lastname?.dirty ||lastname?.touched)"
    class="alert alert-danger">
        <div [hidden]="!lastname.errors.required">
            Last Name is required
        </div>
    </div>
    <div ngModelGroup="address">
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control"
            name="city" ngModel #city="ngModel" required>
        </div>
        <div style="color:red"
        *ngIf="!city?.valid && (city?.dirty ||city?.touched)"
         class="alert alert-danger">
                <div [hidden]="!city.errors.required">
                       City Name is required
                </div>
        </div>


        <div class="form-group">
            <label for="street">Street</label>
            <input type="text" class="form-control"
            name="street" ngModel #street="ngModel" >
        </div>

        <div class="form-group">
            <label for="pincode">Pin Code</label>
            <input type="text" class="form-control"
            name="pincode" ngModel
            #pincode="ngModel"  required pattern="[0-9]{6}">
        </div>
        <div style="color:red" *ngIf="!pincode?.valid && (pincode?.dirty ||pincode?.touched)" >
            <div [hidden]="!pincode.errors">
                Enter a valid pattern as : 6 digits only
            </div>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" [disabled]="!contactForm.valid">Submit</button>
    </div>


</form>

Object is <pre>{{contactForm.value | json }} </pre>
