<p>employee works!</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Insex</th>
            <th>Code</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Annual salary</th>
            <th>Date of birth</th>
            <th>Full time status</th>
            <th>IsFirst</th>
            <th>IsLast</th>
            <th>IsEven</th>
            <th>IsOdd</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employee;let i=index;let isFirst=first;
        let isLast=last;let isEven=even;let isOdd=odd;">
    
        <td>{{i+1}}</td>
        <td>{{employee.code}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.geder}}</td>
        <td>{{employee.annualSalary}}</td>
        <td>{{employee.dateOfBirth}}</td>
        <td>{{employee.fulltime}}</td>
        <td>{{isFirst}}</td>
        <td>{{isLast}}</td>
        <td>{{isLast}}</td>
        <td>{{isOdd}}</td>
    </tr>
    </tbody>
</table>
