
<h2>Parent app component</h2>

<app-observabledemo2></app-observabledemo2>

<app-observabledemo></app-observabledemo>
<app-stud-crud-operation></app-stud-crud-operation>
<app-crud-operation></app-crud-operation>
<app-callservice></app-callservice>
<app-child-demo [loggedin]="userloggedin"></app-child-demo>
<app-checkboxdemo2></app-checkboxdemo2>
<app-checkboxdemo></app-checkboxdemo>
<app-template-forms-demo1></app-template-forms-demo1>
<!--<app-login-validation></app-login-validation>-->
<!--
<app-contact></app-contact>

<app-loginform></app-loginform>

<app-product></app-product>-->

<!--<app-parent></app-parent>-->


<!--<app-child></app-child>-->

<!-- <app-data-binding-demo></app-data-binding-demo>-->

<!--<app-cust-pipe-demo></app-cust-pipe-demo>-->

<!--<app-pipe-demo></app-pipe-demo>


<app-atm></app-atm>

<app-employee-demo></app-employee-demo>

<app-login></app-login>

<app-calculator></app-calculator> -->

<!--<app-ifcomponent></app-ifcomponent>-->

<!-- <app-employee></app-employee>-->

<!-- <app-sample></app-sample>-->
<div class="center">
{{title}} app is running!!


<!-- <app-first></app-first> -->
<h1>Welcome to angular 8...</h1>

<h2>Angular template..</h2>


<!--<app-second></app-second>-->

<!--<app-dept></app-dept>-->
<!--<app-emp></app-emp>

<table>
    <thead>
        <tr>
                <th> Emp ID</th>
                <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{eid}} </td>
             <td>{{ename}}</td>   
        </tr>
    </tbody>
</table> -->
</div>
